<div class="group-5" data-aos="fade-up" data-aos-duration="2000">
    <div class="info">
        <div class="contact">
            <h6 class="title">Reach out to me😄</h6>
            <p style="font-size: small;"><b>🧑‍🎓CSE Student|Beginner level Full stack developer🖥️|Contributed in IOT(Internet of Things) projects🎉.</b></p>
            <p style="font-size: small;">Open for Opportunities: Yes</p>
            <p style="font-size: small;">Email ID:keerthinarayan2002@gmail.com</p>
            <p style="font-size: small;">Linkedin ID:<u>https://www.linkedin.com/in/chetna-suthar-a2a403290</u></p>
            <div class="icons">
                <a href="mailto:keerthinarayan2002@gmail.com" style="font-size: 25px;color: black;">
                    <i class="fa-solid fa-envelope"></i>
                </a>
                <a href="https://www.instagram.com/chet.nasuthar" style="font-size: 25px;color: black;">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/chetna-suthar-a2a403290" style="font-size: 25px;color: black;">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/chetnasuthar12"style="font-size: 25px;color: black;">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
        <div>
            <h6 class="title">Address</h6>
            <p style="font-size: small;">Presidency University</p>
            <p style="font-size: small;">📍Bangalore, India</p>
        </div>
    </div>
    <div class="copyright">
        <p style="text-align: center;font-size: 20px;font-weight: 200;">2024 Copyright@chetana1122keerthi2002</p>
    </div>
</div>
