<div class="group-1" id="h2" >
    <div class="aboutme">
        
        <div class="Skills" data-aos="fade-left" data-aos-duration="2000">
            <h3 class="title">what I do</h3>
            <p style="font-size: medium;"><b>I can code my way through websites (HTML & CSS), make things happen with Python, understand Java's rhythm, and speak a little JavaScript.</b></p>
        
            <div class="logos">
                <img src="../../assets/py.jpeg" alt="python_img">
                <img src="../../assets/java.jpeg" alt="Java_img">
                <img src="../../assets/html.png" alt="HTML_img">
                <img src="../../assets/css.png" alt="css_img">
                <img src="../../assets/javascript.png" alt="Js_img">
            </div>
            
            <ul class="skills_list" style="font-size: small;">
                <li>My programming expertise includes Python, Java, and basic JavaScript, allowing me to develop functional applications.</li>
                <li> I am proficient in using HTML and CSS to construct visually appealing and user-friendly web interfaces.</li>
                <li>This combination of skills equips me to bridge the gap between technical functionality and user experience.</li>
            </ul>
        </div>
    </div>
</div>
