<div class="container">
    <div class="row">
        <!--About me--> 
        <div class="col-lg shadow border m-1"> 
            <div class="text-center"> 
                <h2>About Me</h2>
                <img src="../../assets/profilepic.png" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>I'm an aspiring full stack developer with a strong 
                    foundation in HTML, CSS, and Javascript for web development , 
                    I'm particularly good in python and java programing language and currently 
                    looking for internship opportunities in that field.I'm honing my skills in 
                    both front-end and back-end development to become a well-rounded full-stack developer.
                    I'm a fast learner and I'm actively seeking opportunities to learn new technologies 
                    and frameworks to become a full-stack developer.
                    <a class="downloadBtn" href="../../assets/ChetanaSutharResume (1).pdf" download="Resume.pdf">Download Resume</a></p>
            </div>
        </div>
        <!--Featured Project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center"> 
                <h2>Featured Project</h2>
                <img src="../../assets/meetings.jpeg" alt="projetcs">
                <p>Collaborated with back-end developers to integrate the UI with the e-commerce functionalities. (Collaboration)
                    Contributed to code reviews and ensured adherence to coding standards. (Quality focus)</p>
            </div>
        </div>
    </div>
</div>
