<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-light">Home</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link text-secondary" routerLink="/education" routerLinkActive="text-light">Education</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link text-secondary" routerLink="/proficiency" routerLinkActive="text-light">Proficiency</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link text-secondary" routerLink="/projects" routerLinkActive="text-light">Projects</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link text-secondary" routerLink="/certificates" routerLinkActive="text-light">Certificates</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-light">Contact</a>
            </li>
        </ul>
    </div>
</nav>
