<div class="group-2" id="h3">
    <div class="ref">
        <div class="profi" data-aos="fade-right" data-aos-duration="2000">
            <h3 class="title" style="text-align: center;">Proficiency</h3>
            <ul class="profi" style="font-size: small;">
                <li>Familiarity with back-end technologies like Node.js, Python, or Java (mention specific languages you're familiar with) for building server-side logic and APIs.</li>
                <div class="progress-container1">
                    <div class="progress-bar1"></div>
                </div>
                <li>proficient in problem-solving, employing a systematic approach that involves critical analysis and creative thinking.</li>
                <div class="progress-container2">
                    <div class="progress-bar2"></div>
                </div>
                <li>Crafting user-friendly interfaces (UI) that are visually appealing and responsive for a seamless user experience (UX). (This emphasizes both aesthetics and functionality)</li>
                <div class="progress-container3">
                    <div class="progress-bar3"></div>
                </div>
                <li><p>Experienced in developing and integrating hardware components with software applications using microcontrollers (e.g., Arduino, Raspberry Pi) and embedded programming languages</p></li>
                <div class="progress-container4">
                    <div class="progress-bar4"></div>
                </div>
            </ul>
        </div>
    </div>
</div>
