<div class="col-md-3 col-lg-2 d-none d-md-block sidenav collapse bg-white sticky-top" id="sideNav">
    <div class="sidenav-sticky pt-3">
      <a href="#" class="d-flex align-items-center px-3 mb-3 link-dark text-decoration-none collapsed" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-expanded="false" aria-controls="collapsibleNavbar">
        <span class="fs-4">SIDE BAR</span>
      </a>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Home</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link text-secondary" routerLink="/education" routerLinkActive="text-dark">Education</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link text-secondary" routerLink="/proficiency" routerLinkActive="text-dark">Proficiency</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link text-secondary" routerLink="/projects" routerLinkActive="text-dark">Projects</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link text-secondary" routerLink="/certificates" routerLinkActive="text-dark">Certificates</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-dark">Contact</a>
        </li>
        </ul>
    </div>
  </div>
